{% extends "base.html" %}

{% block content %}
	{% if comment and post %}
	<h2>Edit Comment on {{ post.subject }}</h2>

	<form method="POST">
		<label>
			<div>Text</div>
			<textarea name="content">{{ comment.text }}</textarea>
		</label>
		{% if error %}
		<div class="error">Comment cannot be blank.</div>
		{% endif %}
		<div>
			<input type="submit" />
		</div>
	</form>
	<a href="/post/{{ post.key().id() }}">Cancel</a>
	{% else %}
		<p>Sorry, the comment was not found.</p>
	{% endif %}
{% endblock %}