{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<form method="POST">
	<table>
		<tr>
			<td style="text-align:right">
				<label>Username<input name="username" type="text"/></label>
			</td>
		</tr>
		<tr>
			<td style="text-align:right">
				<label>Password<input name="password" type="password"/></label>
			</td>
		</tr>
		<tr>
			<td style="text-align:right">
				<label>Verify Password<input name="verify" type="password"/></label>
			</td>
		</tr>
		<tr>
			<td style="text-align:right">
				<label>Email(optional)<input name="email" type="text"/></label>
			</td>
		</tr>
	</table>

	<input type="submit" />
</form>
<p><a href="/login">Login</a></p>
{% endblock %}