{% extends "base.html" %}

{% block content %}

	{% if post %}
	<div class="blog-post">
		<h2 class="post-heading">
			<a href="/post/{{ post.key().id() }}">{{ post.subject }}</a>
			<small class="post-date">
				<a href="/user/{{ post.author.key().id() }}">{{ post.author.username }}</a>
				{{ post.created.strftime("%B") }} {{ post.created.day }}, {{ post.created.year }}
				</small>
		</h2>
		
		<pre>{{ post.content }}</pre>
	</div> 
	<p>
		<a href="/post/{{ post.key().id() }}/edit">Edit</a>
		<a href="/post/{{ post.key().id() }}/delete">Delete</a>
	</p>
	<form method="post" action="/post/{{ post.key().id() }}/like">
		<input type="submit" value="Like"/>
	</form>
	<form method="post" action="/post/{{ post.key().id() }}/unlike">
		<input type="submit" value="Unlike"/>
	</form>
	<p>{{ post.likes.count() }} Likes</p>
	<a href="/post/{{ post.key().id() }}/comment/new">Add Comment</a>
	<ul>
	{% for comment in post.comments %}
		<li>{{ comment.text }} <a href="/user/{{ comment.author.key().id() }}">{{ comment.author.username }}</a></li>
		<p>
			<a href="/post/{{ post.key().id() }}/comment/{{ comment.key().id()}}/edit">Edit</a>
			<a href="/post/{{ post.key().id() }}/comment/{{ comment.key().id()}}/delete">Delete</a>
		</p>
	{% endfor %}
	</ul>
	{% else %}
		<p>Sorry, the post was not found.</p>
	{% endif %}
	
{% endblock %}